*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050816;
color:white;
overflow-x:hidden;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
position:fixed;
width:100%;
top:0;
z-index:1000;
background:rgba(0,0,0,.3);
backdrop-filter:blur(15px);
}

.logo{
font-size:30px;
font-weight:bold;
color:#00ff99;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
}

.btn{
background:#00ff99;
border:none;
padding:12px 24px;
border-radius:30px;
cursor:pointer;
font-weight:bold;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
radial-gradient(circle,#00ff9930,#050816);
}

.hero h1{
font-size:80px;
max-width:900px;
margin:auto;
}

.hero p{
font-size:22px;
color:#cfcfcf;
margin-top:20px;
}

.hero-btn{
margin-top:30px;
padding:18px 40px;
font-size:18px;
background:#00ff99;
border:none;
border-radius:40px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 30px #00ff99;
}

.articles{
padding:100px 8%;
}

.articles h2{
font-size:45px;
margin-bottom:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
}

.card{
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.1);
border-radius:25px;
overflow:hidden;
transition:.4s;
}

.card:hover{
transform:translateY(-15px);
box-shadow:0 0 35px #00ff99;
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card h3{
padding:20px;
font-size:28px;
}

.card p{
padding:0 20px 20px;
color:#d0d0d0;
}

@media(max-width:768px){

.hero h1{
font-size:45px;
}

.nav-links{
display:none;
}

}
